td, th, input {
    font-size: 20px;
    font-family: sans-serif
}

#tabloVIP, #tabloSTD {
    width: 100%;
    border-collapse: collapse
}

tr {
    /* border-top: solid 25px rgb(255, 255, 255); */
    transform: scale(0.95);
    transform-origin: 180px 0px;
}

td, th {
    padding: 5px;
}

td:nth-child(1) {
    width: 40px
}

td:nth-child(2) {
    width: 140px;
    text-align: right;
    padding-right: 10px
}

td:nth-child(3)>input {
    width: calc(100% - 10px)
}

td:nth-child(4) {
    width: 70px;
}

tr:nth-child(2n) {
    background-color: rgb(240, 248, 255)
}

tr:nth-child(2n+1) {
    background-color: rgb(240, 248, 255)
}

tr:nth-child(1) {
    background-color: rgba(190, 225, 255, 0.856);
    transform: none;
transform-origin: 180px 180px;
}

tr:nth-child(1) input[type=text], tr:nth-child(1) td {
    font-size: 26px
}

tr {
    margin-top: 10px;
    margin-bottom: 10px
}

#tabloVIP td, #tabloVIP input[type=text] {
    font-weight: 600
}

input[type=text] {
    border: none;
    background-color: inherit;
    color: black;
}

hr {
    margin: 0;
    color: rgba(240, 248, 255, 0)
}