body {
  display: grid;
}

@media (orientation: landscape) {
  body {
    grid-template-columns: 300px 40px 1fr auto;
  }
  .containerSum {
    display: grid;
    grid-template-rows: 60px 60px;
    grid-column: 1;
    grid-row: 1;
  }
  .containerSum>.contenu1 {
    grid-row: 2;
    grid-column: 1;
  }
  .containerSum>.contenu2 {
    grid-row: 1;
    grid-column: 1;
  }
  .lastDonator{
    display: grid;
    grid-template-rows: 60px 60px;
    grid-template-columns: auto 20px 1fr;
    grid-column: 3;
    grid-row: 1;
  }
  .lastDonator>.contenu1 {
    grid-row: 1;
    grid-column: 1 / span 3;
  }
  .lastDonator>.contenu2 {
    grid-row: 2;
    grid-column: 1;
  }
  .lastDonator>.contenu3 {
    grid-row: 2;
    grid-column: 3;
    align-self: center;
  }
}

@media (orientation: portrait) {
  body {
    grid-template-rows: auto 1fr;
  }
}
