html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 2px;
  background-size: cover
}
p {
  word-break: break-all;
  margin-top: 0;
  margin-bottom: 0;
}
.text {
  max-width: 100%;
}
.container {
  text-align: left;
  font-size: 50px;
}
.containerSum>.contenu2, .lastDonator>.contenu1, .lastDonator>.contenu2{
  font-weight: 400;
}
.containerSum>.contenu1, .lastDonator>.contenu3{
  font-weight: 800;
}
@media (orientation: landscape) {
  p {
    text-align: left;
  }
  .container {
    margin-left: 10px;
  }
}

@media (orientation: portrait) {
  .containerSum {
    justify-content: center;
  }
  #lastP {
    margin-top: 30px;
  }
  p {
    text-align: center
  }
  .lastDonator {
    margin-top: 20px
  }
}
