doctype html
html

    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title Maylis
        link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
        link(rel="stylesheet" href="css/asks.css")
        link(rel="stylesheet", href="css/" + color + ".css")
        link(rel="icon", href="images/logomaylis.png")
        script(src="socket.io/socket.io.js")
    
    body
        div
            table#tabloVIP
        hr
        
        div
            table#tabloSTD
        script(src="scripts/add.js")
