doctype html
html

    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title Maylis
        link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
        link(rel="stylesheet" href="css/master.css")
        link(rel="stylesheet" href="css/grid.css")
        link(rel="stylesheet", href="css/" + color + ".css")
        link(rel="icon", href="images/logomaylis.png")
        script(src="socket.io/socket.io.js")
        script(src="scripts/update.js")
    
    body
        div.containerSum.text.container
            div.contenu1
                p#funding 0€
            div.contenu2
                p Récoltés
        div.lastDonator.text.container
            div.contenu1
                p Dernier don 
            div.contenu2
                p#dernierDonateur DernierDonateur
            div.contenu3
                p#dernierMontant 0€
            
